@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*{
    padding: 0;
    margin: 0;
    user-select: none;
}

a{
    color:  black;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    
}


.navi{
    width: 100%;
    height: 65px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 2%;
    font-family: 'Anton', sans-serif;
}